.main {
    width: 85%;
    margin: auto;
    height: 40vh;
    background-image: url('https://lh3.googleusercontent.com/proxy/ZdY7HJXJqltxVryUFRlNNe-48zyU-A5nVfplSYvVB1Xi0OwRirG6EI-dettOtxwIFixkeA9Fr2b61CkWuIrbjgQ4nXsHXJMiPNhX-K5obB6nN7PYW_ek_KW0aUD5QjhLfVDdmblAHeC_TBZMDxd2vOWggaULwA');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}