.main {
    position: relative;
    top: 60%;
    left: 10%;
    width: 80%;
}

.input {
    width: 90%;
    border-radius: 20px 0 0 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 1.15rem;
    color: gray;
    outline: none;
    border: none;
}